<nav>

<div clas="section-container">
                
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                    <li><a href='@Url.Action("Index", "Agendamento")#Espaco'>Espaço</a></li>
                    <li><a asp-controller="Eventos" asp-action="Index">Eventos</a></li>
                    <li><img src="~/img/logo.png" alt="Logo do Role Top" title="Logo"></li>
                    <li><a asp-controller="Home" asp-action="Index">Sign Out</a></li>
                    <li><a asp-controller="Agendamento" asp-action="Index">Agendamento</a></li>
                    <li><a asp-controller="Cadastro" asp-action="Index">Sign up</a></li>
                    <li id="roxo"><a href="#img-footer">Contatos</a></li>
                </ul>
            </div>
</nav>