@model RoleTopMvc.ViewModels.RespostaViewModel
<main class="sucesso-body">
    <div class="sucesso">
   <h2>
         Não deu certo (@Model.NomeView) 
    </h2>
    <p>
        @Model.Mensagem
    </p>

    </div>
</main>