@model RoleTopMvc.ViewModels.RespostaViewModel
<main class="sucesso-body">
    <div class="sucesso">

    <h2>
        @Model.NomeView Deu Bom!!
    </h2>
    <p>
        @Model.Mensagem
    </p>
    </div>
</main>