*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    font-family: Montserrat, sans-serif;
}



.section-container
{
    max-width: 1360px;
    margin: 0 auto;   
}

nav ul
{
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

nav li
{
    list-style: none;
    padding: 30px;
}

nav img
{
    height: 1.6em;
    margin: 20px;
}

nav
{
    position: fixed;
    background: #24252A;
    width: 100%;
    z-index: 999;

}


a
{
   text-decoration: none;
   color: #fff; 
   scroll-behavior: smooth;
}

li a:hover
{
    transition: all 0.4s ease 0s;
    color: #FAA804;
    

}

ul > #roxo>a:hover
{
    color: rgba(116,0,94,1);
    
}


header
{
    max-height: 1500px;
    
}

div.Hero-home
{
    width:100%;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    background-image: url(../img/HeroCasamento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}



.slide-images
{
    width:
}
.Hero-home-text h2,h2
{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Hero-home-text h1
{
    font-weight: 1000;
    font-size: 4em;
    text-transform: uppercase;
    padding-top: 3em;
    color: #fff;
}

.Hero-home-text h2
{
    color: #fff;
    padding-bottom: 0.5em;
}

.texto-logo
{
    background: rgba(0,0,0, .6);
    
}

.texto-logo > h1, h2
{
    cursor: pointer;
}
/* _____________________________________________________________________________________________Espaço________________________________________________________________________________ */

#Espaco
{
    height: 100%;
    background: black;
    color: #fff;
    text-align: center;
    padding: 2em;
}

#Espaco > h1
{
    letter-spacing: 3px;
    font-size: 5em;
    font-family: 'Bebas Neue',sans-serif;
}

h1 > img
{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.tabela-espaco
{
    margin: 0 auto;
    text-align: left;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5em;
}

.informacoes-espaco
{
    padding: 1.5em;
}

.image-space-1, .image-space-2
{
    display: flex;
    justify-content: space-between;
    
}

.image-size > img
{
    max-width: 100%;
    width: 395px;
    height: 395px;
    object-fit: cover;
}

    




/* ______________________________________________________________________________________________footer_______________________________________________________________________________*/
/* ______________________________________________________________________________________________Redes Sociais_______________________________________________________________________ */

#mapa
{
    max-width: 400px;
    margin: 0 auto;
    
}

.faq-titulo
{
    cursor: pointer;
    padding-bottom: 1em;
    margin: 0;
}



#mapa h1
{
    text-align: center;
    margin: .5em 0 0.5em 0;
}

label > h2 
{
    text-align: center;
    margin: 0.4 0 0.4 0;
    color: #BEB0F4;
}

.trigger-wrapper p 
{
    text-align: center;
    margin: 0.4 0 0.4 0;
}

.faq-titulo::before
{
    content: '';
    display: inline-block;
    height: 12px;
    width: 24px;
    margin-right: 10px;
    background:#BEB0F4;
}

.faq-titulo::after
{
    content: '+';
    float: right;  
}

.faq-conteudo
{
    padding: 10px;
    color:  #6B7C93;
    font-size: .875em;
    display: none;
}

.trigger-input
{
    display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo
{
    display: block;
}
/* _____________________________________________________________________________Redes Sociais_________________________________________________________________________________ */
footer
{
    width: 100%;
}

footer ul
{
    display: flex;
}

footer ul li
{
    padding: 2em;
    list-style-type: none;
    margin: 0 auto;
}

.image-footer
{
    width: 2em;
    cursor: pointer;
    
}