   </header>
    <main>
        <section id="Espaco">
            <h1>Espaço <img src="img/stitch.png" alt="Stitch" title="Stitch"></h1>
            <div class="tabela-espaco">
                <div class="informacoes-espaco">
                        <h3>Espaço total de 40x150:</h3>
                        <p>Palco: 30 metros quadrados</p>
                        <p>Copa: 10 metros quadrados com refrigerador, geladeira, dois fogões e uma pia. </p>
                        <p>Camarim: Espaço com vestiario e banheiro aclopado. </p>
                        <p>Estacionamento: Espaço para 60 carros.</p>
                        <p>Entradas: Uma saída principal e 3 saídas de emergência.</p>
                        <p>Som: Dj, caixas de som, iluminação e muito mais. </p>
                        
                </div>

                <div class="image-space-1">
                    <div class="image-size">
                            <img src="img/HeroAniversario.jpg" alt="Aniversario" title="Aniversario">
                    </div>
                    <div class="image-size">
                        <img src="img/HeroCorporativo.jpg" alt="Corporativo" title="Corporativo">
                    </div>
                    <div class="image-size">
                        <img src="img/HeroMesa.jpg" alt="Mesa" title="Mesa">
                    </div>
                </div>

                <div class="image-space-2">
                        <div class="image-size">
                                <img src="img/HeroCorporativo3.jpg" alt="Corporativo" title="Corporativo">
                        </div>
                        <div class="image-size">
                            <img src="img/HeroCorporativo2.jpg" alt="Corporativo" title="Corporativo">
                        </div>
                        <div class="image-size">
                        <img src="img/DecoraçaoAniversario.jpg" alt="Mesa" title="Mesa">
                        </div>
                    </div>
            </div>

        </section>


    </main>